.staff > h1 {
    margin-left: 5%;
    color: gray;
}

.staffBody {
    margin-top: 2rem;
    padding-left: 10%;
    display: flex;

    .createBtn {
        button {
            display: block;
            padding: 0.8rem;
            width: 13rem;
            font-size: 1rem;
            background: teal;
            margin-bottom: 1rem;
            outline: none;
            border: none;
            border-radius: .3rem;
            color: #fff;
        }

    }
    .form {
        width: 100%;
    }

    .patientForm {
        width: 100%;

        form {
            width: 50%;
            max-width: 500px;
            min-width: 300px;
            box-shadow: 0 0 15px -10px rgba(85, 53, 53, 0.5);
            padding: 1rem;
            margin-left: 1.3rem;
            margin-bottom: 2rem;

            h1 {
                margin-bottom: 1rem;
                font-weight: 600;
            }
    
            .form-item {
                margin-bottom: 1rem;
    
                label {
                    display: block;
                    color: gray;
                    margin-bottom: .5rem;
                }
    
                input, select, textarea {
                    width: 100%;
                    padding: 0.5rem;
                    font-size: .9rem;
                }
    
                .radioLabel {
                    display: inline-block;
                }

                input[type=radio] {
                    width: 1rem;
                    display: inline;
                    margin-right: 2rem;
                    margin-left: .3rem;
                }

                textarea {
                    height: 8rem;
                    resize: none;
                }
                select {
                    cursor: pointer;
                    outline: none;
                }
            }
    
            button {
                width: 10rem;
                padding: 0.7rem;
                font-size: 1rem;
                margin: 2rem auto 0;
                display: block;
                background-color: teal;
                border: none;
                border-radius: .2rem;
                color: #fff;
            }
        }
    }
}